*{
    margin:0;
    padding: 0;

}
*body{
    color: aquamarine;
}
*#showcase{
background-image: 
url("https://th.bing.com/th/id/R.b4f5dc473dfc76e3589dae55c57fc0e1?rik=1%2btuIbaQyzGURA&riu=http%3a%2f%2fjamiecohen16.files.wordpress.com%2f2010%2f11%2fbeach.jpg&ehk=4c4mRfuhDToFw6HkC1rUjlXjvg0gN54ZYvDMOaJnvF0%3d&risl=&pid=ImgRaw&r=0")
;
height: 100vh;
background-position: center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
}
*#showcase .button{
    font-size: 10;
    text-decoration: none;
    color: #324239;
    border: #926339 1px solid;
    padding: 14px 24px;
    border-radius:10px;
    margin-top: 20px;

}
*#showcase.buttton:hover{
    background: #926339;
    color: #fff;
}